{% raw %}
<amp-story-page id="{% endraw %}page{{ forloop.index }}{% raw %}">
	<amp-story-grid-layer template="fill">
{% endraw %}
		<amp-img src="{{ image.path | absolute_url }}"
{% raw %}
		width="720" height="1280"
		layout="responsive">
		</amp-img>
	</amp-story-grid-layer>
	<amp-story-grid-layer template="horizontal">
		<p style="writing-mode: vertical-lr; text-orientation: mixed; font-size: 0.7em;">{% endraw %}{{ image.path | remove_first: "/" | exif: 'date_time_original' | date: "%Y-%m-%d"}}{% raw %}</p>
	</amp-story-grid-layer>
</amp-story-page>
{% endraw %}
